* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --btn-primary: #6a73e7;
}

.container {
  width: 100%;
  max-width: 800px;
  padding: 0 2rem;
  margin: 0 auto;
}

body {
  background-color: #faf8ff;
}

header {
  width: 100%;
  padding: 0 1rem;
  border-bottom: 1px solid gainsboro;
}

.header-title {
  text-align: center;
  font-size: clamp(2rem, 2.5vw, 3vw);
}

.add-task {
  margin-top: 2rem;
}

form {
  display: flex;
  justify-content: center;
}

label {
  font-size: 1.5rem;
  margin-right: 1rem;
}

input[type="text"] {
  margin-right: 1rem;
}

.task-list {
  margin-top: 3rem;
}

.task {
  margin-top: 2rem;
  border: 1px solid black;
  display: flex;
  justify-content: space-between;
  padding: 1rem;
  border-radius: 4px;
  font-size: 1.2rem;
}

.remove-btn {
  color: red;
}

.icon-btn:hover {
  cursor: pointer;
  opacity: 0.5;
}

.edit-btn {
  color: blue;
}

.icon-btn + .icon-btn {
  margin-left: 1rem;
}

.task-container {
  display: flex;
}

.add-task-btn {
  margin-left: 1rem;
}

.add-btn,
.update-btn {
  background-color: var(--btn-primary);
}

.close-btn {
}
